html, body {
    height: 100%;
    font-size: 2em;
    margin: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: red;
}

.header {
    border-top: 10px solid mediumspringgreen;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100px;
    min-height: 100px;
    background-color: black;
    color: white;

}

#logo{
    position: absolute;
    vertical-align: middle;
    top: 25%;
    height: 50%;
    left: 2vw;
    font-size: 50%;
}

.button-layout{
    right: 5px;
    position: absolute;
    margin-top: auto;
    height: 100%;
}

.button-layout > .link-button{
    padding: 5px;
    margin:0;
    top: 25%;
    background-color: black;
    color:white;
    border: none;
    font-size: 15px;
}

.link-button.green{
    background-color: mediumspringgreen;
}

.sub-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: green;
}

.side-bar {
    background-color: yellow;
    width: 200px;
    min-width: 200px;
}

.content {
    background-color: lightblue;
    width: 100%;
}

.footer {
    font-size: 1.15em;
}
